{% extends "base.html.j2" %}

{% block content %}
<section class= "intro main-bg section">
  <div class="main-content intro-content">
    <div class="intro-text-content intro-content">
      <h2 class="intro-text-content title-style">{{ config.get("TITLE") }}</h2>
        <ul class="list-group">
          {% for post in posts %}
          <li class="list-group-item">
          <a href="{{url_for('post.detail', slug=post.slug)}}" class="post-url">{{post.title}}</a>
          </li>
        {% endfor %}
        </ul>
    </div>
  </div>
</section>
{% endblock %}