{% extends "base.html.j2" %}
{% block content %}
<section class="main-bg">
    <div class="main-content intro-content">
        <h1 class="intro-text-content title-style">{{ post.title }}</h1>
        <small>Publicated: {{ post.date | format_date }}</small>
    <div class="intro-content detail-content-text">
        <p>
            {{ markdown(post.content) }} 
        </p>
    </div>
</div>
</section>
{% endblock %}