{% extends "base.html.j2" %}
{% block content %}
<div class="intro main-bg section">
    <div class="main-content intro-content">
        <h1 class="title-style">New Post</h1>
        <div class="contact-form">
            {% if error %}
                <div class="error-message">
                    {{ error }}
                </div>
            {% endif %}
        <form action="/register" method="post">
            <fieldset class="form-grid">
            <legend>Create a new post</legend>
            <div class="form-group">
                <label for="user">User:</label><br>
                <input type="text" name="user" required/><br>
            </div>
            <div class="form-group full-width">
                <label for="password">Password:</label><br>
                <input type="password" name="password1" required>
            </div>
            <div class="form-group full-width">
                <label for="password2">Confirm password:</label><br>
                <input type="password" name="password2" required>
            </div>
            <div class="form-group full-width">
                <input type="submit" value="Enviar">
            </div>
            </fieldset>
        </form>
        </div>
    </div>
</div>

{% endblock %}